* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
height: 100vh;
width: 100vw;
overflow: auto;
}
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.App {
  height: 100%;
  width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: auto;
}
.main {
  height: 100%;
  width: 100%;
}
.mainhero {
  height: 100%;
  width: 100%;
}
.ausbildungPageMain {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
overflow: auto;
}
.ausbildungPageHead{
  height: 100%;
  width: 100%;
  background-color: #154360;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19%;
}
.ausbildungPageMap {
height: 510px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.ausbildungMap {
  height: 95%;
  width: 22%;
  border: 2px solid #154360;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}
.ausbildungMap h2 {
  color: #154360;
}
.ausbildungMap:hover {
  box-shadow: 0px 0px 30px #154360;
  background-color: #64b1e137;
  cursor: pointer;
}
.ausbildungMap h2 {
  font-weight: bold;
}
.navBorder {
  border-bottom: 2px solid #154360;
  /* border-radius: 15px; */
  color: #154360;
}
.navBorder ul{
  color: gray;
  color: #154360;
}

.careerMain {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.careerHeadDiv{
  height: 100%;
  width: 100%;
  background-color: #154360;
  color: white;
  font-size: 1.5em;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 15%;
  /* gap: 10px; */
}
.careerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 padding: 5px;
    overflow: auto;
}
.mapWithPagination {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
  .careerMap {
  height: fit-content;
    width: 70%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    /* height: 95%;
    width: 22%;
    border: 2px solid #154360;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px; */
  }
  .careerMap h1 {
    height: 50px;
  }
  .collapse {
   background-color: #154360;
   color: white;
  }
  .pagination {
display: flex;
gap: 3px;
  }
  .pagination button {
    padding: 0 10px;
border-radius: 10px;
border: none;
background-color: #154360;
color: white;
/* background-color: rgba(176, 174, 174, 0.302); */
  }